@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

:root {
  --font-roboto: "Roboto", sans-serif;
  --sb-track-color: #f0ebfc;
  --sb-thumb-color: #cebcf6;
  --sb-size: 10px;
  --sb-table-size: 5px;
  --bg-navbar-scrolled: rgba(255, 255, 255, 0.75);
}

td,
th {
  text-align: center;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-container {
  position: relative;
}

#allDocuments {
  width: 250px;
  padding-right: 40px;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

#allDocuments:focus {
  width: 350px;
}

#btn-buscar {
  position: absolute;
  padding: 0;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#btn-buscar:focus {
  outline: none;
  box-shadow: none;
}

#allDocuments:not(:focus) + #btn-buscar {
  right: 10px;
}

#allDocuments:focus + #btn-buscar .icon-search {
  color: #7b48d5 !important;
}
.icon-search {
  font-size: 1.5rem;
  transition: color 0.3s ease-in-out;
}

/* navbar scrolled */
.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1001;
  transition: background-color 0.3s ease;
}

.navbar.scrolled {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: var(--bg-navbar-scrolled);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  font-family: var(--font-roboto);
  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar {
  height: var(--sb-table-size);
}

.dataTables_scrollBody::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

.dataTables_scrollBody::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #dbdcef #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #4c2a80 #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}
